.boxs {
  width: 200px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  column-gap: 9px;
  margin: 0 auto;
}

.boxA {
  width: 100px;
  height: 100px;
  border-top: 1px solid #687291;
  background-color: #dfe1e7;
  font: 40px Tahoma;
  text-align: center;
  margin-top: 10px;
}

.boxB {
  width: 100px;
  height: 100px;
  border-top: 1px solid #687291;
  background-color: #eeeff2;
  font: 40px Tahoma;
  text-align: center;
  margin-top: 10px;
}

.boxC {
  width: 100px;
  height: 100px;
  border-top: 1px solid #687291;
  background-color: #dfe1e7;
  font: 40px Tahoma;
  text-align: center;
  margin-top: 10px;
}

.boxD {
  width: 100px;
  height: 100px;
  border-top: 1px solid #687291;
  background-color: #eeeff2;
  font: 40px Tahoma;
  text-align: center;
  margin-top: 10px;
}

.boxE {
  width: 100px;
  height: 100px;
  border-top: 1px solid #687291;
  background-color: #dfe1e7;
  font: 40px Tahoma;
  text-align: center;
  margin-top: 10px;
}

.boxF {
  width: 100px;
  height: 100px;                                                            
  border: 4px solid black;
  background-color:  #687291;
  font: 40px Tahoma;
  text-align: center;
  margin-top: 10px;
}




